@{
	Layout = "_Layout.cshtml";

	var inputs = Context.Outputs.Where(x => x.MediaTypeEquals(MediaTypes.Html)).OrderByDescending(x => x.GetDateTime("Published"));
	var previous = inputs.GetNext(Document)?.GetLink();
	var next = inputs.GetPrevious(Document)?.GetLink();
}

<figure>
	<img src="@($"/{Model.Destination.Parent}/{Model.Destination.FileNameWithoutExtension}.jpg")" alt="@Model.GetTitle()" />

	<figcaption>
		<a href="#expanded"><nav><h1>@Model.GetTitle()</h1></nav></a>
		@RenderBody()

		<time>@Model.GetDateTime("Published").ToString("dd. MMMM yyyy")</time>

		<nav id="expanded">
			<p>@if(previous != null) { <a href="@previous#expanded" class="icon">&#8656;</a> }</p>
			<p><a href="/" class="icon">&#8679;</a></p>
			<p>@if(next != null) { <a href="@next#expanded" class="icon">&#8658;</a> }</p>
		</nav>
	</figcaption>
</figure>